* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: url(../images/IMG_3740.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
}

.logo {
  max-width: 100px;
  display: flex;
}

.nav-bar ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  flex-direction: row;
  padding: 30px;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: azure;
}

/*#home {
  padding: 40px;
  background-image: url(../images/IMG_3740.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  height: 350px;
}*/

.name {
  padding: 40px;
  background-image: url(../images/IMG_3740.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  color: azure;
}

.name img {
  width: 20%;
  border-radius: 250px;
  border: 20px white;
}

.my-info h1,
.my-info h2 {
  color: azure;

  line-height: 1.5;
}
.my-info h1 {
  font-size: 35px;
}
.my-info h2 {
  padding-left: 18px;
}

.about-me-text {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: space-around;
}

.about-me-text p {
  padding: 7px 15px;
  margin: auto 0 auto;
  width: 35%;
  align-self: flex-end;
}

.about-me-text h2 {
  align-self: center;
}

.my-work-text {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: space-around;
}

.my-work-text p {
  padding: 7px 15px;
  margin: auto 0 auto;
  width: 35%;
  align-self: flex-end;
}

.my-work-text h2 {
  align-self: center;
}

.contact-me-text {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: space-around;
}

.contact-me-text p {
  padding: 7px 15px;
  margin: auto 0 auto;
  width: 35%;
  align-self: flex-end;
}

.contact-me-text h2 {
  align-self: center;
}
